* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    /* border: solid 0.5px; */
}

.row {
    display: flex;
}

.sec-Top ul li {
    display: inline-block;
    margin: 10px;
}

.sec-Top {
    padding: 10px;
    background-color: orangered;
}
.sec-Top a{
    color: black;
}

.sec-top2 {
    padding: 8px;
    background-color: orange;
}

.tital {
    padding: 20px;
    background-color: orangered;
}

.sec-two img {
    width: 100%;
    height: 170px;
}

.heding {
    padding: 28px;
    background-image: linear-gradient(rgba(120, 120, 180, 0.658), rgba(120, 120, 180, 0.658)), url(./sound/images\ o.jpeg);
    color: white;
}
.heding a{
    color: black;
}

.sec-3 .col {
    background-color: yellow;
}

button {
    background-color: orange;
    color: white;
}

.input button {
    background-color: brown;
}
.part-2{
   background-color: yellow;
}
.img-img img {
   margin: 20px;
}

.pic img {
    width: 30%;
    padding: 20px;

}

.nav ul li {
    margin: 5px;
    background-color: orangered;
}
.nav a{
    color: white;
}

.box {
    padding: 10px;
    margin: 10px;
    word-spacing: 50px;
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px 1px orangered;
   
}
h5{
    padding: 20px;
}

.box {
    background-image: linear-gradient(rgba(255, 166, 0, 0.895), rgba(255, 255, 0, 0.58));
}
